<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="doSearch()">Search!</button>
      </span>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">{{ tweets.length > 0 ? "Tweets:" : "No tweets found!" }} </h2>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="tweet in tweets">
        <li><a href="#" tooltip="{{tweet.sentiment.score}}">{{tweet.tweet.text}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/fanixk">@fanixk</a> |
         <a href="https://github.com/fanixk">Github</a></p>
  </div>
</footer>
